# Cowrie SSH/Telnet Honeypot Configuration
# https://cowrie.readthedocs.io/

[honeypot]
hostname = deception-honeypot
log_path = /cowrie/cowrierun/
download_path = /cowrie/cowrierun/downloads/
contents_path = /cowrie/cowrierun/files/
etc_path = /cowrie/cowrierun/
reject_new_connections = false
server_version = SSH-2.0-OpenSSH_8.9p1
process_tty_events = true
stop_old_dispatchers = false
infer_tty = true

[ssh]
enabled = true
listen_endpoints = tcp:2222:0.0.0.0
listen_ipv6 = false

[telnet]
enabled = false

[database_sqlite]
sqlite_file = /cowrie/cowrierun/cowrie.db

[database_mysql]
host = postgres
port = 3306
database = cowrie
username = cowrie
password = cowrie

[logging]
discord_webhook_url =
log_level = INFO
log_file = /cowrie/cowrierun/cowrie.log
